# create a .gitignore file for flask app

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
myenv/
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache
flask_session/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

discord_data.json
channels_data.json
channels_data.csv