annotated-types==0.7.0
anyio==4.9.0
apify_client==1.10.0
apify_shared==1.4.1
appdirs==1.4.4
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.6.2
Brotli==1.1.0
bs4==0.0.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
configparser==7.2.0
crayons==0.4.0
cryptography==44.0.3
cssselect==1.3.0
dateparser==1.2.1
demjson3==3.0.6
exceptiongroup==1.2.2
facebook-scraper==0.2.59
facebook_page_scraper==5.0.6
fake-useragent==2.2.0
greenlet==3.2.2
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
instagrapi==2.1.3
kaitaistruct==0.10
lxml==5.4.0
lxml_html_clean==0.4.2
more-itertools==10.7.0
outcome==1.3.0.post0
packaging==25.0
parse==1.20.2
patchright==1.52.3
pillow==11.2.1
psaw==0.1.0
pyasn1==0.6.1
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.10.1
pydantic_core==2.27.1
pyee==13.0.0
pyOpenSSL==25.0.0
pyparsing==3.2.3
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
pytz==2025.2
regex==2024.11.6
requests==2.32.3
requests-html==0.10.0
selenium==4.1.0
selenium-wire==5.1.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzlocal==5.3.1
urllib3==1.26.20
urllib3-secure-extra==0.1.0
w3lib==2.3.1
webdriver-manager==3.2.2
websockets==10.4
wsproto==1.2.0
zipp==3.21.0
zstandard==0.23.0
